@style-main : #80bd01;
@style-bg: #eee;

.index-list {
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 38px;
    bottom: 40px;
    left: 0;
    right: 0;
    background: #fff;
    color: #ccc;
    li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        font-size: 0;
    }
    .tit {
        overflow: hidden;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #666;
    }
    .author {
        padding-right: 5px;
    }
    .con {
        line-height: 20px;
        font-size: 12px;
        color: #666;
    }
    time {
        font-size: 12px;
    }
    .bottom {
        margin-top: 5px;
    }
    .user-headimg {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        background-size: cover;
    }
    .font {
        .iconfont {
            padding: 3px 5px;
            margin-right: 5px;
            border-radius: 5px;
            color: #fff;
        }
    }

    
}

.topNav {
        text-align: center;
        background: @style-main;
        color: @style-bg;
        height: 38px;
        line-height: 38px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        a {
            color: @style-bg;
            padding: 3px 10px;
            border-radius: 3px;
        }
        .on a{
            background: darken(@style-main, 10%);
        }
    }

// 首页样式
.nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: @style-main;
    a{
        color: @style-bg;
    }
}

.active{
    background: lighten(@style-main, 10%);
}
