@style-bg: #eee;
@style-main : #80bd01;
@style-color: #2c3e50;


a,ul,i,p,h3,li,div{
    padding: 0;
    margin:0;
}
a{
    text-decoration: none;
}

.icon-top {
    background: red;
}
.icon-good {
    background: blue;
}
.icon-share {
    background: green;
}
.icon-ask {
    background: pink;
}
.icon-job {
    background: #00B38A;
}